body{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin:0 auto;
    background-color: #fcfcfc;
    line-height: 2rem;
    width: 80%;
    margin:0 auto;
    background-color: #f0f0f0;
}

.head-container {
    background-image: url('../imgs/background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
    background-color: black;
}

nav {
    background-color: rgb(144, 17, 17);;
}

.nav-bar {
    width: 80%;
    margin:0 auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding:1rem
}

.nav-bar ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding:0;
}

.nav-bar ul li{
    color: white;
    margin:0 2rem;
    cursor:pointer;
    padding:1rem;
}

.nav-bar ul li a{
    color:white;
    text-decoration: none;
    font-size: 16px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
    gap: 0px; /* Espacio entre los elementos */
    padding: 10px;
}

/* Elementos dentro del contenedor */
.flex-item {
    flex: 1 1 50%; /* Ocupa 50% del ancho del contenedor */
    color: black;
    padding: 1rem;
    box-sizing: border-box; /* Incluye padding y borde dentro del tamaño */
}

.p-justified {
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem auto;
}

.centrado {
    display: block;
    text-align: center;
}

video, audio, object {
    width: 100%;
}

object {
    height:500px;
}
.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
    padding:0.5rem;
    margin-top:0.5rem;
}

.pokedex {
    text-align: center;
    border-collapse: collapse;
}

.pokedex thead tr,
.pokedex tfoot tr {
    background-color: rgb(144, 17, 17);
    color: #fff;
}
.pokedex tbody tr td{
    border:1px solid rgb(144, 17, 17);
}

.p-1{
    padding:1rem;
}

.row-plant{
    background-color: rgba(104, 213, 104,100);
}

.row-aqua{
    background-color: rgba(133, 133, 251, 100);
}

.row-fire{
    background-color: rgba(249, 108, 108, 100);
}


address {
    font-style: normal; /* Por defecto, <address> aplica cursiva, aquí lo normalizamos */
    line-height: 1.5;
    color: #555;
}

.footer-address {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

form {
    padding:1rem;
}

form fieldset {
    border-radius:1rem;
}

.input-w100 {
    padding:0.5rem;
    width:100%;
    border-radius: 0.2rem;
}
